@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

.title{
    background-color: #fdcc46;
    height: 50px;
    width: 350px;
    position: absolute;
    border-radius: 40px;
    margin-top: -20px;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* .title span{
    color: #ffff;
    font-size: 20px;
} */

.title span{
    color: #ffff;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.fa-times{
    color: #ffff;
    margin-right: 15px;
    cursor: pointer;
}
.div-s:hover{
    background-color: #daa924;
    cursor: pointer;
}
.row {
    margin-bottom: 25px;
}
.contitulo {
    margin-top: 50px;
}
.redondo {
    border-radius: 30px;
}

.col-md-5{
    margin-left: 50px;
    border-radius: 25px;
    min-height: 50px;
}

.col-md-3, .col-md-2 {
    border-radius: 25px;   
    margin-left: 40px;
}

.form-check{
    margin-top: 15px;
}

.form-outline{
    margin-top: 25px;
    margin-bottom: 20px;
}

.border-warning > div {
    margin: 15px;
}

.item-list{
    text-align: left;
}

.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.modal-content{
    border-radius: 30px;
}

.modal-header{
    background-color: #ecb725;
    color: #ffff;
    border-radius: 30px;
    margin: -20px -20px;
    width: 350px;
    height: 55px;
}
.modal-body{
    margin-top: 20px;
}
.modal-title{
    margin-left: 20px;
}
.alert-danger{
	background-color: rgba(255, 255, 255, 0);
}
.alert{
	font-family: 'Poppins', sans-serif;
	color: rgb(211, 7, 85);
	font-weight: bold;
	font-size: 14px;
    padding: 0;
    margin-bottom: 0;
}
.btn-rounded{
    margin-left: 10px;
}
.agregados-mod{
    width: 100%;
    padding-right: var(--mdb-gutter-x,.75rem);
    padding-left: var(--mdb-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    max-height: 500px;
    overflow-y: scroll;
}